<div class="regions view" ng-controller="RegionsCtrl" ng-init="init()">
    <div class="container">
	    <div class="page-header">
	    	<br>
	        <h2>Regions (Detail table)</h2>
	    </div>        

		<form class="form-horizontal" role="form" name="myForm">
		  <div class='panel-heading' style='height:55px' >
		    <label class="col-sm-2" for="center_id">Center Code</label>
			<div class="col-sm-3">
				<select ng-model="queryCenterCode" ng-change="getRegions(queryCenterCode)">
<!-- 			        <option value="">Select</option> -->
			        <option ng-repeat="obj in uip_centers | orderBy:reverse" value="{{obj.code}}" ng-selected="obj.id">{{obj.name}}</option>
			    </select>
				<span class="error" ng-show="myForm.queryCenterCode.$error.required">
					<div class="alert alert-warning">Required!</div>
				</span>
			</div>
		    <label class="col-sm-2" for="queryCode">Region Code</label>
			<div class="col-sm-3">
				<input type="text" class="form-control" name="queryCode" ng-model="queryCode" placeholder="Enter Code">
			</div>
			<div class="col-sm-2">
				<commbutton type="search" data="Region"></commbutton>
			</div>
		  </div>
		</form>

        <div>
            <div class="ngGrid" >
              <ng-excel id="gridRegion" data="uip_regions" rows="100" cols="100" width="100%" height="200"></ng-excel>
            </div>
            <div class="span5">
                <commbutton type="insert" data="Region" callback="postInsert"></commbutton>
                <commbutton type="delete" data="Region" callback="deleteInsert"></commbutton>
                <commbutton type="save" data="Region" callback="saveInsert"></commbutton>
                <commbutton type="init" data="Region" callback="initInsert"></commbutton>
                <commbutton type="goCenter" data="Region"></commbutton>
		        <div>
			        <br>
					<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
				</div>
            </div>
        </div>
	</div>
</div>