<div class="regions view" ng-controller="RegionsCtrl" ng-init="init()">
    <div class="container">
	    <div class="page-header">
	    	<br>
	        <h2>Regions (Detail table)</h2>
	    </div>        

        <div>
           <h4>centers : 
            <select ng-model="uip_center" ng-selected="center_id" ng-change="getRegions()" ng-options="uip_center.name for uip_center in uip_center | orderBy:orderby:reverse"></select>
           </h4>
            <div class="ngGrid" >
              <ng-excel id="gridRegion" data="uip_region" rows="100" cols="100" width="100%" height="200"></ng-excel>
            </div>
            <div class="span5">
                <commbutton type="retrieve" data="Region"></commbutton>
                <commbutton type="insert" data="Region"></commbutton>
                <commbutton type="delete" data="Region"></commbutton>
                <commbutton type="save" data="Region"></commbutton>
                <commbutton type="init" data="Region"></commbutton>
                <commbutton type="goHome" data="Region"></commbutton>
            </div>
        </div>
	</div>
</div>